@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Moon+Dance&family=Parisienne&family=Source+Sans+Pro&display=swap');

:root {
    --font-titulo: 'Courgette', cursive;
    --font-texto: 'Moon Dance', cursive;
    --font-alternativa: 'Parisienne', cursive;
    --font-padrao: 'Source Sans Pro', sans-serif;

    --cor01: white;
    --cor02: black;
    --cor03: skyblue;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-padrao);
}

body {
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    height: 100vh;
    background: url('../img/guarajuba-tema-principal.jpeg') center center no-repeat fixed;
    background-size: cover;
    margin: auto;
}

header nav {
    position: absolute;
    display: block;
    white-space: nowrap;
    top: 1%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 8px;
    padding: 10px;
}

header nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--cor01);
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    position: sticky;
}

header nav a:hover {
    color: var(--cor03);
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 4rem;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.800);
    color: var(--cor01);
    width: 100%; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 30px 0;
    white-space: nowrap;
}



main p {
    font-family: var(--font-alternativa);
    font-size: 2.5rem;
    text-align: justify;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    text-indent: 40px;
    padding: 20px;
    color: var(--cor01);
    height: 100%;
}

main figure {
    position: relative;
}

main figcaption {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding: 10px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(0, 0, 0, 0.600);
    text-align: center;
}

main figure figcaption.figleft {
    left: 0px;
    border-radius: 0px 20px 20px 0px;
}


main figure.img {
    height: 120vh;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.349);
}

main figure#img01 {
    background: url('../img/guarajuba-tema.jpg') center center no-repeat fixed;
    background-size: cover;
}

main figure#img02 {
    background: url('../img/castelo-garcia-d-avila.jpg') center center no-repeat fixed;
    background-size: cover;
}

main figure#img03 {
    background: url('../img/guarajuba-barco.jpg') center center no-repeat fixed;
    background-size: cover;
}

main figure#img04 {
    background: url('../img/guarajuba-condominio-paraiso.jpg') center top no-repeat fixed;
    background-size: cover;
}


footer p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.800);
    color: var(--cor01);
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: var(--cor01);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}